@model TravelWebProject.Areas.Members.Models.UserEditViewModel

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil</h1>
<form method="post">
	<label for="example-text-input" class="form-control-label">Kullanıcı Adı</label>
	<input type="text" asp-for="UserName" class="form-control" />
	<br />
	<label for="example-text-input" class="form-control-label">Adınız</label>
	<input type="text" asp-for="Name" class="form-control"/>
	<br />
	<label for="example-text-input" class="form-control-label">Soyadınız</label>
		<input type="text" asp-for="Surname" class="form-control"/>
	<br />
	<label for="example-text-input" class="form-control-label">Mail</label>
		<input type="text" asp-for="Mail" class="form-control"/>
	<br />
	<label for="example-text-input" class="form-control-label">Parola</label>
		<input type="text" asp-for="Password" class="form-control"/>
	<br />
		<label for="example-text-input" class="form-control-label">Parola Tekrar</label>
		<input type="text" asp-for="Confirmpassword" class="form-control"/>
	<br />
		<label for="example-text-input" class="form-control-label">Telefon</label>
		<input type="text" asp-for="Phonenumber" class="form-control"/>
	<br />
	<button class="btn btn-info">Kaydet</button>
	<br />
	<br />
</form>
